/descriptiva.aux
/statistics_course.aux
/statistics_course.dvi
/statistics_course.log
/statistics_course.out
/statistics_course.toc
/introduction.aux
/statistics_course.synctex.gz
/statistics_course.nav
/statistics_course.snm
/statistics_cours.synctex.gz
/descriptive.aux
/statistics_course.pdf
