/abs_freq_bar_chart.log
/abs_freq_bar_chart_polygon.log
/abs_freq_histogram.log
/abs_freq_histogram_polygon.log
/boxplot.log
/boxplot_children.log
/cum_abs_freq_bar_chart.log
/cum_abs_freq_bar_chart_polygon.log
/cum_abs_freq_histogram.log
/cum_abs_freq_histogram_polygon.log
/cum_rel_freq_histogram.log
/cum_rel_freq_histogram_polygon.log
/deviations.log
/factor_box_plot.log
/factor_histogram.log
/frequency_count.log
/interquartile_range.log
/left_skewed_distribution.log
/leptokurtic_distribution.log
/log_transformation.log
/median.log
/mesokurtic_distribution.log
/mode.log
/platykurtic_distribution.log
/quantiles.log
/quantiles_calculation.log
/range.log
/rel_freq_pie_chart.log
/right_skewed_distribution.log
/sample_classification.log
/square_transformation.log
/std_deviation_interpretation.log
/symmetrical_distribution.log
