/statistics_course-figure16.log
/statistics_course-figure17.log
/statistics_course-figure18.log
/statistics_course-figure19.log
/statistics_course-figure20.log
/statistics_course-figure21.log
/statistics_course-figure22.log
/statistics_course-figure23.log
/statistics_course-figure24.log
/statistics_course-figure25.log
/statistics_course-figure26.log
/statistics_course-figure27.log
/statistics_course-figure28.log
/statistics_course-figure29.log
/statistics_course-figure30.log
/statistics_course-figure31.log
/statistics_course-figure32.log
/statistics_course-figure33.log
/statistics_course-figure34.log
/statistics_course-figure35.log
/statistics_course-figure36.log
/statistics_course-figure37.log
/statistics_course-figure38.log
/statistics_course-figure39.log
/statistics_course-figure40.log
/statistics_course-figure41.log
/statistics_course-figure42.log
/statistics_course-figure43.log
/statistics_course-figure44.log
/statistics_course-figure45.log
/statistics_course-figure46.log
/statistics_course-figure47.log
/statistics_course-figure48.log
/statistics_course-figure49.log
/statistics_course-figure50.log
/statistics_course-figure51.log
/statistics_course-figure52.log
/statistics_course-figure53.log
/statistics_course-figure1.log
